/* basic structure */

*
{
	box-sizing: border-box;
}

body
{
	height: 100vh;
	margin: 0;
}

/* header */
header 
{
	background-color:#ffffff;
	border-color: #cccccc;
	position: fixed;
	z-index: 500;
	width: 100%;
	top: 10px;
	left: 0;
	height: 90px;
	border-bottom: solid #cccccc 2px;
}

.heading
{
	width: 85%;
	height: 88px;
	margin: 0px auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex: wrap;

}

.name
{
	background-color: #4aaaa5;
	z-index: 520;
	color: white;
	height: 88px;
	font-size: 20px;
	padding: 5px 10px;
}

li 
{
	display: inline-block;
}

ul
{
	z-index: 520;
	padding: 0;
	margin-top: 5px;
	display: flex;
	align-items: center;
}

a
{
	text-decoration: none;
	color: #777777;
}

a:visited
{
	color: #777777;
}



span
{
	color: #cccccc;
}


/* main */

main, footer
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #4aaaa5 ;
}



main
{
  background-image: url('../images/halftone.png');
  height: 100%;
  overflow: scroll;

}


.about, .contact, .portfolio
{
	background-color: #ffffff;
	border: solid #dddddd 1px;
	position: relative;
	width: 85%;
	margin: 0 auto;
	top: 20%;
	padding: 40px 30px 20px 30px;
	margin-bottom: 200px;
}

.about h1 , .contact h1 , .portfolio h1
{
	color: #4aaaa5;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


hr
{
	color: #cccccc;
	height: 3px;
	background-color: #cccccc;
	border: none;
}


/* about.html style */

.aboutcontent
{
	margin-bottom: 50px;
}

.firstrow
{
	padding-top: 5px;
	float: left;
}

.firstrow img 
{
	width: 120px;
	height:160px;
	float: left;
	margin-right: 20px;
	margin-top: 27px;
}

p .wrap
{
	float: left;
}

p{
	line-height: 2;
	font-size: 18px;
}


p .nowrap
{
clear: both;
}


/* portfolio.html style */
.box
{
	margin-top: 40px;
}
.boxitem, .boxitemright
{
	width: 40%;
	height: auto;
	float: left;
}

.boxitem img, .boxitemright img
{
	width: 250px;
	height: auto;
}

.boxitem .text, .boxitemright .text
{
	position: relative;
	bottom: 50px;
	background-color: #4aaaa5;
	color: white;
	width: 250px;
	padding: 10px 0px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	text-align: center;
}

.push
{
	clear: both;
}



/* contact.html style */


.contactform
{
	width: 100%;
}

form
{
	padding-top: 20px;
	margin-left: 20px;
}

#name , #email, #message
{
	width: 100%;
}


input
{
	height: 30px;
}

input, textarea
{
	border: solid 1px #dddddd;
	margin-bottom: 15px;
	margin-top: 5px;
	color: #777777;
}


.submit
{
	background-color: #4aaaa5;
	color: white;
	font-size: 16px;
	height: 40px;
	width: 100px;

}
	


/* footer */

footer 
{
	background-color: #666666;
	bottom: 0px;
	left: 0;
	width: 100%;
	padding: 20px;
	position: fixed;
	border-top: 7px solid #4aaaa5;
	text-align: center;
}


.copyright 
{
	position: relative;
	color: #cccccc;
	top: 15px;
	font-size: 11px;	
}

/* responsive setting */

@media (max-width: 980px) 
{

	.about, .contact, .portfolio
	{
		width: 65%;
		margin-left: 7.5%;
		margin-bottom: 200px;
	}

   .aboutcontent img
   {
	   	width: 30%;
	   	height: auto;
   }

	.boxitem, .boxitemright
	{
		width: 40%;
		margin-left: 5%;
	}

	.boxitem img, .boxitemright img
	{
		width: 100%;
	}

	.boxitem .text, .boxitemright .text
	{
		width: 100%;
	}

	.boxitemright
	{
		margin-left: 10%;
	}

}


@media (max-width: 768px) 

{
	.about, .contact, .portfolio
	{
		width: 85%;
		margin: 0 auto;
		margin-bottom: 200px;
	}

   
	.aboutcontent img
	{
		width: 50%;
		height: auto;
	}
}


@media (max-width: 640px) 
{
    
    ul {
        width: 100%;
        position: absolute;
        top: 90px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .name{
    	width: 100%;
    	justify-content: center;
    	display: flex;
    }

    .heading
    {
    	margin: 0;
    	width: 100%;
    }

    header
    {
    	position: static;
    }

    body
    {
    	height: 100%;
    }

    main
    {
    	width: 100%;
    	position: relative;
    	top: 50px;
    }

    .about , .contact , .portfolio
    {
    	margin: 0 auto;
    	width: 85%;
    	position: relative;
    	top: 40px;
    	margin-bottom: 200px;
    }

    .aboutcontent img

    {	
    	text-align: center;
    	width: 100%;
    	height: auto;
    }

    .boxitem, .boxitemright
	{
		width: 90%;
		margin-left: 5%;
	}

}






